@font-face {
  font-family: "Harlow Solid";
  src: url("C:/Windows/Fonts/HARLOWSI.TTF") format("truetype")
}

* {
  font-family: "Lato";
  font-weight: 400;
}

body {
  margin: 0;
}

.top-bar {
  height: 50px;
}

.top-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.top-bar ul li {
  display: inline-block;
}

.title {
  margin-left: 85px;
  margin-right: 70px;
}

.title h1 {
  font-family: "Khula";
  font-weight: 700;
  font-size: 24px;
}

.menu-bar,
.shopping-bag,
.search-bar {
  width: 27px;
  height: 27px;
}

.menu-bar,
.shopping-bag {
  margin-right: 8px;
}

.slogan-img {
  width: 340px;
  height: 238px;
  margin-left: 10px;
}

.headings {
  font-family: "Khula";
  font-size: 24px;
  font-weight: 700;
  line-height: 23px;
  text-align: start;
  width: 256px;
  margin-left: 13px;
  margin-top: 25px;
  margin-bottom: 3px;
  clear: both;
}

.intro p {
  font-family: "Lato";
  font-size: 12px;
  width: 236px;
  line-height: 14px;
  text-align: start;
  margin-left: 13px;
  margin-top: 10px;
}

.btn {
  width: 70px;
  height: 32px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  float: left;
  margin-left: 13px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.shoe {
  list-style-type: none;
  float: left;
  padding: 0;
  margin-left: 13px;
}

.shoe-name,
.shoe-price {
  font-family: "Khula";
  font-size: 16px;
  text-align: start;
  margin-top: 7px;
  margin-bottom: 0;
}

.shoe-for {
  font-family: "Lato";
  font-style: italic;
  font-size: 12px;
  color: #676767;
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
}

.shoe-img{
  width: 155px;
  height: 155px;
}

.shoe ul {
  list-style-type: none;
  float: right;
}

.shoe ul li {
  display: inline-block;
  margin-right: 5px;
}

.shoe ul li div {
  width: 15px;
  height: 15px;
}