@font-face {
  font-family: "Harlow Solid";
  src: url("C:/Users/dongm/AppData/Local/Microsoft/Windows/Fonts/HARLOWSI.TTF") format("truetype")
}

.App {
  overflow-x: hidden;
}

* {
  font-family: "Lato";
  font-weight: 400;
}

body {
  margin: 0;
}

.top-bar {
  height: 55px;
  width: 100vw;
  position: fixed;
  background-color: white;
  z-index: 999;
}

.top-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.top-bar ul li {
  display: inline-block;
}

.title {
  /*margin-left: 85px;
  margin-right: 70px;*/
  margin-left: calc(50vw - 110px);
  margin-right: calc(50vw - 100px);
}

.title h1 {
  font-family: "Khula";
  font-weight: 700;
  font-size: 24px;
}

.top-bar ul li img {
  width: 27px;
  height: 27px;
}

.menu-bar,
.shopping-bag {
  margin-right: 8px;
}

.slogan-img {
  /*width: 340px;
  height: 238px;
  margin-left: 10px;
  margin-top: 55px;*/
  width: calc(100vw - 30px);
  margin-left: 10px;
  margin-top: 55px;
}

.headings {
  font-family: "Khula";
  font-size: 24px;
  font-weight: 700;
  line-height: 23px;
  text-align: start;
  clear: both;
  /*width: 256px;
  margin-left: 13px;*/
  margin: 25px 0 3px 18px;
  width: 65vw;
}

.intro p {
  font-family: "Lato";
  font-size: 12px;
  width: 65vw;
  line-height: 14px;
  text-align: start;
  margin-left: 18px;
  margin-top: 10px;
}

.btn {
  width: 70px;
  height: 32px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  float: left;
  margin-left: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.shoe {
  list-style-type: none;
  /*display: table;
  width: 45%;
  table-layout: fixed;*/
  float: left;
  padding: 0;
}

.shoe li {
  width: 100%;
  display: flex;
  align-items: start;
  margin-left: 18px;
}

.shoe-name,
.shoe-price {
  font-family: "Khula";
  font-size: 16px;
  text-align: start;
  margin-top: 7px;
  margin-bottom: 0;
}

.shoe-name,
.shoe-for,
.shoe-price {
  width: 155px;
}

.shoe-for {
  font-family: "Lato";
  font-style: italic;
  font-size: 12px;
  color: #676767;
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
}

.shoe-img{
  width: 42vw;
  margin-right: 2vw;
}

.shoe ul {
  list-style-type: none;
  float: right;
}

.shoe ul li {
  display: inline-block;
  margin: 0 5px 10px 0;
  width: 15px;
}

.shoe ul li div {
  width: 15px;
  height: 15px;
}

.featured {
  position: relative;
}

.featured img {
  /*width: 328px;
  height: 344px;*/
  width: 90vw;
  margin-top: 10px;
  /**/
}

.featured button {
  background-color: white;
  color: black;
  position: absolute;
  left: 7vw;
  bottom: 2%;
}

.category-btn {
  /*width: 156px;
  height: 43px;*/
  width: 44vw;
  height: 43px;
  border: 1px solid black;
  background-color: white;
  margin: 8px 10px;
  font-family: 'Khula';
  font-weight: 700;
}

.special-deal {
  text-align: start;
  height: auto;
  overflow: visible;
  margin-bottom: 15px;
}

.special-deal-img {
  /*width: 206px;
  height: 258px;*/
  width: 55vw;
  float: left;
  margin: 10px 15px 20px 18px;
}

.special-deal-text {
  float: left;
}

.special-deal-text h3 {
  font-family: 'Khula';
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 30px;
}

.special-deal-text p {
  font-family: 'Lato';
  font-size: 12px;
  line-height: 14px;
  width: 90px;
  margin-top: 5px;
}

.special-deal-text h2 {
  font-family: 'Khula';
  font-size: 18px;
  margin-top: 0;
}

.old-price {
  text-decoration: line-through;
  margin-top: 25px !important;
  margin-bottom: 0;
}

.btn-deal {
  margin-left: 0;
}

.footer {
  width: 100vw;
  height: 251px;
  background-color: black;
  clear: both;
}

.footer-title {
  color: white;
  width: 100%;
  text-align: start;
  font-family: 'Khula';
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0px 0px 30px;
  margin: 0;
}

.footer-links {
  list-style-type: none;
  color: white;
  display: flex;
  flex-flow: column wrap;
  width: 210px;
  height: 96px;
  padding-left: 30px;
  float: left;
}

.footer-links li {
  font-family: 'Khula';
  font-weight: 400;
  text-align: start;
  width: 104px;
  line-height: 23px;
  float: left;
}

.footer-social {
  width: 100px;
  float: left;
  padding: 0;
}

.footer-social li {
  width: 22px;
  float: left;
  margin-right: 10px;
}

.footer-social li img {
  width: 22px;
  height: 22px;
}

.footer-location {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 30px;
}

.footer-location img {
  width: 10px;
  height: 12px;
  margin-right: 8px;
}

.footer-location h3 {
  font-family: 'Roboto';
  font-size: 10px;
  color: white;
}

.copyright {
  font-family: 'Roboto';
  font-size: 12px;
  color: #BFBFBF;
  text-align: start;
  padding-left: 30px;
  margin: 0;
}


@media only screen and (max-device-width: 345px) {
  .shoe-img {
    width: 88vw;
  }

  .featured button {
    bottom: 1vh;
  }

  .shop-by-category h1 {
    width: 100%;
  }

  .category-btn {
    width: 90vw;
  }

  .footer {
    height: 270px;
  }

  .footer-links {
    margin: 10px 0;
    font-size: 12px;
  }

  .footer-social {
    margin: 0 0 0 30px;
  }

  .footer-location {
    padding-top: 10px;
  }

  .copyright {
    font-size: 10px;
  }
}